@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.projects_conteiner{
    color: white;
    font-family: 'Oswald', sans-serif;
    width: 100%;
}

.projects_conteiner h1{
    text-align: center;
    text-decoration: underline;
    font-size: 3rem;
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}